.app-controls {
  padding-top: 30%;
  position: relative;
  & button {
    position: relative;
  }
  & .ball {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top:0;
    right: 0;
  }
  & .end-game {
    margin-top: 50px;
  }
}
