.player {
  text-align: center;
  color: #999;
  &.active {
    h1 {
      color: #EC971F;
    }
  }
}

.score {
  display: block;
  font-weight: bold;
  font-size: 5em;
  color: #000;
}

.avatar {
  width: 400px;
}
